@model IEnumerable<TimeTrax.Web.Models.TimeEntry>

@{
    ViewBag.Title = "Timesheet";
}

<h2>@ViewBag.Title - @ViewBag.CurrentUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Staff.StaffType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tasks.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.StaffType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tasks.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEntryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeEntryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeEntryId })
        </td>
    </tr>
}

</table>
